@font-face {
    font-family: 'quicksanddash';
    src: url('fonts/quicksand_dash-webfont.eot');
    src: url('fonts/quicksand_dash-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_dash-webfont.woff') format('woff'),
         url('fonts/quicksand_dash-webfont.ttf') format('truetype'),
         url('fonts/quicksand_dash-webfont.svg#quicksanddash') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandbold';
    src: url('fonts/quicksand-bold-webfont.eot');
    src: url('fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-bold-webfont.woff') format('woff'),
         url('fonts/quicksand-bold-webfont.ttf') format('truetype'),
         url('fonts/quicksand-bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandbold_italic';
    src: url('fonts/quicksand-bolditalic-webfont.eot');
    src: url('fonts/quicksand-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-bolditalic-webfont.woff') format('woff'),
         url('fonts/quicksand-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/quicksand-bolditalic-webfont.svg#quicksandbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksanditalic';
    src: url('fonts/quicksand-italic-webfont.eot');
    src: url('fonts/quicksand-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-italic-webfont.woff') format('woff'),
         url('fonts/quicksand-italic-webfont.ttf') format('truetype'),
         url('fonts/quicksand-italic-webfont.svg#quicksanditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandlight';
    src: url('fonts/quicksand-light-webfont.eot');
    src: url('fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-light-webfont.woff') format('woff'),
         url('fonts/quicksand-light-webfont.ttf') format('truetype'),
         url('fonts/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandlight_italic';
    src: url('fonts/quicksand-lightitalic-webfont.eot');
    src: url('fonts/quicksand-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-lightitalic-webfont.woff') format('woff'),
         url('fonts/quicksand-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/quicksand-lightitalic-webfont.svg#quicksandlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-regular-webfont.woff') format('woff'),
         url('fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* unvisited link */
a:link {
  color: #777777;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #777777;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #777777;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #777777;
  text-decoration: none;
}

.login {
}

body {
  font-family: 'quicksandlight';
	background-color: #98B2FA;
}
h1 {
  font-family: 'quicksandlight_italic';
	font-size: 70;
	color: #E3474A;
}
button {
   border-top: 1px solid #1a1616;
   background: #292129;
   background: -webkit-gradient(linear, left top, left bottom, from(#5c5e87), to(#292129));
   background: -webkit-linear-gradient(top, #5c5e87, #292129);
   background: -moz-linear-gradient(top, #5c5e87, #292129);
   background: -ms-linear-gradient(top, #5c5e87, #292129);
   background: -o-linear-gradient(top, #5c5e87, #292129);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #4b5257;
   background: #4b5257;
   color: #ccc;
   }
button:active {
   border-top-color: #000000;
   background: #000000;
   }

table, td, th {
    border: 3px solid black;
}
td {
    background-color:  gray;
    color: white ;
}
th {
    background-color:  black;
    color: red;
}

.error {color: #FF0000;}